@model AcunMedyaAkademiPortfolio.Models.TblProfile

@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Profil Girişi</h3>
<form method="post">
    <label>Ad</label>
    <input type="text" class="form-control" name="Name" />

    <label>Doğum Günü</label>
    <input type="text" class="form-control" name="Birtday" />

    <label>Adres</label>
    <input type="text" class="form-control" name="Adrees" />

    <label>E-Posta</label>
    <input type="text" class="form-control" name="Email" />

    <label>Telefon</label>
    <input type="text" class="form-control" name="Telefone" />

    <br /><br />
    <button class="btn btn-info">Profili Kaydet</button>
</form>

