@model AcunMedyaAkademiPortfolio.Models.TblHobby
@{
    ViewBag.Title = "UpdateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hobby Güncelleme </h2>
<form method="post">
    <label>Yeni Id</label>
    @Html.TextBoxFor(x => x.HobbyId, new { @class = "form-control" })
    <label> Icon</label>
    @Html.TextBoxFor(x => x.IconUrl, new { @class = "form-control" })
    <label> Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Hobby Kaydet</button>
</form>

