
@{
    ViewBag.Title = "Index";
}

<h3>Merhaba dünya </h3>
<h4>Portfolio</h4>
<div style="background-color:aqua">bir divdir</div>
<br />
<div style="background-color:aqua">bir divdir</div>
<a href="http://www.google.com">gogola git</a>

