
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Mesaj No</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesaj Aç</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Abdul Samet Kayık</td>
            <td>Tebrikler</td>
            <td><a href="#" class="btn btn-warning">Mesajı aç</a></td>

        </tr>
        <tr>
            <td>1</td>
            <td>Beyza Çoşkun</td>
            <td>Şikayet</td>
            <td><a href="#" class="btn btn-warning">Mesajı aç</a></td>

        </tr>
    </table>
</div>